.site-header {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 101;
	
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	
	&.active {
		left: 220px;
	}
	
	.nav-toggle-btn {
		background-color: $accent-color;
		-webkit-transition: background-color 300ms ease-in-out;
		-moz-transition: background-color 300ms ease-in-out;
		transition: background-color 300ms ease-in-out;
		
		.icon-bar {
			background-color: $secondary-light-text;
			-webkit-transition: background-color 300ms ease-in-out;
			-moz-transition: background-color 300ms ease-in-out;
			transition: background-color 300ms ease-in-out;
		}
		
		&.close {
			background-color: $dark-accent-color;
			
			.icon-bar {
				background-color: $primary-light-text;
			}
		}
	}
	
	@include desktop-sm-up {
		display: none;
	}
}

