$canvas-width: 230px;

.site-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	align-items: center;
  	justify-content: center;
    flex-direction: column;
    padding: 5px;
	  
	&.no-cover {
		background-color: $background-color;
	}
    
    .site-cover-sns-links {
        opacity: 0;
        -webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
        
        &.animate {
            opacity: 1;
        }
        
        .sns-link {
            color: $secondary-dark-text;
            
            -webkit-transition: color 300ms ease-in-out;
			-moz-transition: color 300ms ease-in-out;
			transition: color 300ms ease-in-out;
            
            &:hover, &:focus {
                color: $primary-dark-text;
            }
        }
    }
}

.terminal {
    width: 100%;
    max-width: 600px;   
    height: 60%;
    max-height: 400px;
    min-height: 300px;
    font-family: monospace;
    
    background-color: $black;
    margin-bottom: 20px;
    
    -webkit-border-radius: 10px 10px 8px 8px;
    -moz-border-radius: 10px 10px 8px 8px;
    border-radius: 10px 10px 8px 8px;
    
    -webkie-box-shadow: rgba($black, 0.8) 0px 15px 65px;
    -moz-box-shadow: rgba($black, 0.8) 0px 15px 65px;
    box-shadow: rgba($black, 0.8) 0px 15px 65px;
    
    .terminal-title-bar {
        background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
        background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
        background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
        width: 100%;
        text-align: center;
        padding: 5px 0;
        border-bottom: solid 1px $gray-light;
        
        -webkit-border-radius: 8px 8px 0 0;
        -moz-border-radius: 8px 8px 0 0;
        border-radius: 8px 8px 0 0;
    }
    
    .terminal-body {
        padding: 10px;
        color: $white;
        
        .blinking-cursor {
            background-color: $gray-light;
            opacity: 1;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        
        .line {
            display: none;
        }
    }
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}