<footer class="site-footer container-fluid">
	<section class="copyright row"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
	<section class="poweredby row">Powered by <a href="https://ghost.org" target="_blank">Ghost</a></section>
</footer>