<footer class="site-footer">
	<section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
	<section class="poweredby">Powered by <a href="https://ghost.org" target="_blank">Ghost</a></section>
</footer>