<footer class="site-footer">
	<section class="copyright">Copyright &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>.</section>
	<section class="allrights">All Rights Reserved.</section>
</footer>