<header class="site-header">
	<button class="nav-toggle-btn" type="button">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
    </button>
</header>