<input type="checkbox" id="site-header-toggle">
<label for="site-header-toggle" onclick>
	<div class="label">MENU</div>
	<div class="collapse"> 
		<div class="icon-bar-top"></div>
		<div class="icon-bar-middle"></div>
		<div class="icon-bar-bottom"></div>
	</div>
</label>

<header class="site-header">
	<section class="site-header-header">
		<a href="/" class="logo">
			<img src="{{asset "images/logo.png"}}" />
			Chris Yoon
		</a>
	</section>

	<div class="container-fluid">
		{{navigation}}

		<section class="site-header-footer">
			{{> 'sns-links'}}
		</section>
	</div>
	
</header>