<header class="site-header container">
	<button id="side-nav-toggle" class="nav-toggle-btn" type="button">
		<div class="icon-bar"></div>
		<div class="icon-bar"></div>
		<div class="icon-bar"></div>
	</button>

	<div class="sns-meta pull-right">
		{{> 'sns-links'}}
	</div>
</header>