<nav class="navbar-container" role="navigation">
	<ul class="navbar">
		{{#foreach navigation}}
		<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
			<a href="{{url absolute="true"}}"> {{label}}</a>
		</li>
		{{/foreach}}
	</ul>
</nav>