<nav role="navigation" class="nav-container">
	<input type="checkbox" id="navbar-toggle">
	<div class="nav-header">
		<img id="navbar-logo" src="{{asset "images/logo.png"}}">
		<label for="navbar-toggle" onclick></label>
	</div>

	<div class="navbar">
		<ul class="nav">
			{{#foreach navigation}}
			<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
				<a href="{{url absolute="true"}}">{{label}}</a>
			</li>
			{{/foreach}}
		</ul>
	</div>
</nav>