<nav role="navigation" class="nav-container">
	<input type="checkbox" id="navbar-toggle">
	<div class="nav-header">
		<a href="/" id="navbar-logo"><img src="{{asset "images/logo.png"}}"></a>
		<label for="navbar-toggle" onclick>
			<div class="icon-bar-top"></div>
			<div class="icon-bar-middle"></div>
			<div class="icon-bar-bottom"></div>
		</label>
	</div>

	<div class="navbar">
		<ul class="nav">
			{{#foreach navigation}}
			<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
				<a href="{{url absolute="true"}}">{{label}}</a>
			</li>
			{{/foreach}}
		</ul>
	</div>
</nav>