<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="ribbon-left-arrow" href="{{page_url prev}}#blog">Newer Posts</a>
    {{/if}}
    <div class="page-number">{{page}} / {{pages}}</div>
    {{#if next}}
        <a class="ribbon-right-arrow" href="{{page_url next}}#blog">Older Posts</a>
    {{/if}}
</nav>