<aside class="side-nav">
	<header class="side-nav-header">
		<a href="/" class="logo">
			<img src="{{@blog.logo}}" />
			<div class="name">{{@blog.title}}</div>
			<div class="job-title">Software Developer</div>
		</a>
		<blockquote class="quote-of-the-day">{{@blog.description}}</blockquote>
	</header>

	{{navigation}}

	<footer class="site-nav-footer">
		{{> 'sns-links'}}
	</footer>
</aside>