<aside class="side-nav">
	<header class="side-nav-header">
		<a href="/" class="logo">
			<img src="{{@blog.logo}}" />
			{{@blog.title}}
		</a>

		<address class="administrator-meta">
			<span class="job-title">Software Developer</span> <br/>
			chris.yoon90@gmail.com
		</address>

		<button class="nav-toggle-btn close" type="button">
			<div class="icon-bar"></div>
			<div class="icon-bar"></div>
		</button>
	</header>

	{{navigation}}

	<footer class="site-nav-footer">
		<blockquote class="footer-quote">{{@blog.description}}</blockquote>
		<section class="footer-sns-meta">{{> 'sns-links'}}</section>
	</footer>
</aside>