<aside class="site-cover {{#if @blog.cover}}" style="background: url({{@blog.cover}}) center/cover no-repeat;{{else}}no-cover{{/if}}">
    <div>
		<section id="canvas-container"> </section>

		{{navigation}}
	</div>
</aside>