{{!< default}}

<header class="main-header">
    <h1 class="header-title">{{@blog.title}}</h1>
    <h2 class="header-description">{{@blog.description}}</h2>
</header>

<div class="main-content-wrapper">
	<main class="content container" role="main">
		<aside class="pagination-top">
			{{pagination}}
		</aside>

		{{> "loop"}}

		{{pagination}}
	</main>
</div>

