{{!< default}}

<main class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<section class="administrator-picture card card-1">
					My Pic
				</section>
			</div>
			<div class="col-sm-8">
				<section class="administrator-name card card-1">
					<h1>Chris YOON</h1>
					<h2>Software Developer</h2>
				</section>
			</div>
		</div>
		<div class="row row-gutter">
			<div class="col-sm-12">
				<section class="about-me card card-1">
					<h1 class="sub-headline">About me</h1>
					<p>This is some bio</p>
					
					<ul class="timeline">
						<li>
							<span class="timeline-badge"><i class="fa fa-calendar"></i></span>
							<label class="timeline-label">2008</label>
							<span class="timeline-details">Graduated High school. Start studying in Engineering Factulty of the University of British Columbia.</span>
						</li>
						<li class="timeline-inverted">
							<span class="timeline-badge"><i class="fa fa-calendar"></i></span>
							<label class="timeline-label">2009</label>
							<span class="timeline-details">Start studying in Engineering Physics program.</span>
						</li>
						<li>
							<span class="timeline-badge"><i class="fa fa-calendar"></i></span>
							<label class="timeline-label">2014</label>
							<span class="timeline-details">Graduated university. Start as a Junior Developer in PNI Digital Media.</span>
						</li>
						<li class="timeline-inverted">
							<span class="timeline-badge"><i class="fa fa-calendar"></i></span>
							<label class="timeline-label">2015</label>
							<span class="timeline-details">Promoted to Intermediate Developer in PNI Digital Media.</span>
						</li>
						<li>
							<span class="timeline-badge"><i class="fa fa-calendar"></i></span>
							<label class="timeline-label">Present</label>
							<span class="timeline-details">Building a single page application that will allow the user to assemble and cusotmize printable products online.</span>
						</li>
					</ul>
				</section>
			</div>
		</div>
		<div class="row row-gutter">
			<div class="col-sm-8">
				<section class="skills card card-1">
					<h1 class="sub-headline">Skills</h1>
					
					<section class="skill-bars">
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								JavaScript
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
								HTML
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
								CSS
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
								C#
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
								Java
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
								Ruby
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
								SQL
							</div>
						</div>
					</section>
					
					<section class="legend">
						<dl>
							<dt>Striped and animated</dt>
							<dd>I actively use it almost everyday.</dd>
							<dt>No-Stripe</dt>
							<dd>I know it but I don't use it that often.</dd>
						</dl>
					</section>
				</section>
			</div>
			<div class="col-sm-4">
				<section class="influencers card card-1">
					<h1 class="sub-headline">Influencers</h1>
					
					<div class="influencer-chart-container">
						<canvas id="influencer-chart" width="100px" height="100px"></canvas>
					</div>
				</section>
			</div>
		</div>
		<div class="row row-gutter">
			<div class="experiences col-sm-12">
				<section class="card card-1">
					{{#post}}
						{{content}}
					{{/post}}
				</section>
			</div>
		</div>
	</div>
</main>
