{{!< default}}

<main class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<section class="administrator-picture card card-1">
					My Pic
				</section>
			</div>
			<div class="col-sm-8">
				<section class="administrator-name card card-1">
					<h1>Chris YOON</h1>
					<h2>Software Developer</h2>
				</section>
			</div>
		</div>
		<div class="row row-gutter">
			<div class="col-sm-12">
				<section class="about-me card card-1">
					<h1 class="sub-headline">About me</h1>
					<p>This is some bio</p>
					
					<ul class="timeline">
						<li>
							<span class="timeline-badge"><i class="fa fa-calendar"></i></span>
							<label class="timeline-label">2008</label>
							<span class="timeline-details">Graduated High school. Start studying in Engineering Factulty of the University of British Columbia.</span>
						</li>
						<li class="timeline-inverted">
							<span class="timeline-badge"><i class="fa fa-calendar"></i></span>
							<label class="timeline-label">2009</label>
							<span class="timeline-details">Start studying in Engineering Physics program.</span>
						</li>
						<li>
							<span class="timeline-badge"><i class="fa fa-calendar"></i></span>
							<label class="timeline-label">2014</label>
							<span class="timeline-details">Graduated university. Start as a Junior Developer in PNI Digital Media.</span>
						</li>
						<li class="timeline-inverted">
							<span class="timeline-badge"><i class="fa fa-calendar"></i></span>
							<label class="timeline-label">2015</label>
							<span class="timeline-details">Promoted to Intermediate Developer in PNI Digital Media.</span>
						</li>
						<li>
							<span class="timeline-badge"><i class="fa fa-calendar"></i></span>
							<label class="timeline-label">Present</label>
							<span class="timeline-details">Building a single page application that will allow the user to assemble and cusotmize printable products online.</span>
						</li>
					</ul>
				</section>
			</div>
		</div>
		<div class="row row-gutter">
			<div class="col-sm-8">
				<section class="skills card card-1">
					Skills
				</section>
			</div>
			<div class="col-sm-4">
				<section class="influencers card card-1">
					Influencers
				</section>
			</div>
		</div>
		<div class="row row-gutter">
			<div class="experiences col-sm-12">
				<section class="card card-1">
					{{#post}}
						{{content}}
					{{/post}}
				</section>
			</div>
		</div>
	</div>
</main>
