html, body, .site-wrapper {
	height: 100%;
}

body {
	background-color:  $dark-gray;
	overflow-x: hidden;
}

.content {
	width: 100%;
	background-color: $white;
	padding-top: 30px;
	padding-bottom: 50px;
}

.pagination-top {
	display: none;
}

.pagination {
	text-align: center;
}