html, body, .site-wrapper {
	height: 100%;
}

body {
	background-color:  $dark-gray;
	overflow-x: hidden;
}

.main-content-wrapper {
	background-color: $white;
	width: 100%;
	padding: 30px 0 50px 0;
}

.post-template {
	.main-content-wrapper {
		padding-top: 70px;
	}

}

.content {
	margin: auto;
	max-width: 900px;
}

.pagination-top {
	display: none;
}

.pagination {
	text-align: center;
}