.main-header {
	height: 150px;

	.header-title {
		margin: 0;
		text-align: center;
		width: 100%;
		position: fixed;
		top: 95px;
	}

	&.no-cover {
		background-image: url("/assets/images/default_blog_cover.png");
		background-size: 150%;
		background-position: 30% 30%;

	}
}