.main-header {
	height: 50%;

	@include desktop {
		height: 60%;
	}

	.header-title {
		margin: 0;
		text-align: center;
		width: 100%;
		position: absolute;
		top: 30%;
		text-transform: uppercase;

		@include desktop {
			top: 40%;
		}
	}

	&.no-cover {
		background-image: url("/assets/images/default_blog_cover.png");
		background-size: 200%;
		background-position: 49% 17%;

		@include desktop {
			background-size: 150%;
			background-position: 50% 35%;
		}
	}
}