$navbar-color : rgba(73, 71, 71, 0.9);

.nav-container {
	position: fixed;
	width: 100%;
	background-color: transparent;
	z-index: 10;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	@media(min-width: $screen-desktop-md) {
		&:hover {
			background-color: $white;
		}
	}

	.nav-header {
		height: 50px;
		z-index: 20;
	}

	.nav {
		padding: 100px 0 10px 0;
		margin: 0;
		list-style: none;
		background-color: $navbar-color;
		visibility: hidden;
		opacity: 0;
		filter:alpha(opacity=0);
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
    	-webkit-transition: 200ms ease-in-out;
    	-moz-transition: 200ms ease-in-out;
    	-o-transition: 200ms ease-in-out;
    	transition: 200ms ease-in-out;

		& > li {
			width: 100%;
			text-align: center;

			& > a {
				color: $light-gray;
				text-decoration: none;
				line-height: 20px;
				padding: 15px 15px;
				display: block;
			}
		}

	}

	#navbar-toggle {
		position: absolute;
		top: -9999px;
		left: -9999px;

		&:checked {
			& ~ .nav-header > label[for="navbar-toggle"]:after {
				color: $light-gray;
				content: "\2715";
				font-size: 1em;
				top: 10px;
				right: 0.6em;
			}

			& ~ .nav {
				visibility:visible;
    			opacity:1;
    			filter:alpha(opacity=100);
			}
		}

	}

	label[for="navbar-toggle"] {
		position:relative;
		display: inline-block;
		float:right;
		width: 35px;
		min-height:2.25em;
		padding:.45em;
		font-size:1.1em;
		margin:0;
		z-index: 20;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;

		&:after {
			position: absolute;
			right: .25em;  
			top: 0; 
			content:"\2261";
			font-size:1.8em;
		}

	}

}