$navbar-color : rgba(73, 71, 71, 0.9);

.icon-bar-top, .icon-bar-middle, .icon-bar-bottom {
	width: 25px;
	height: 3px;
	background-color: $black;
	position: absolute;
	transform: rotate(0deg);
}

.icon-bar-top {
	top: 23px;
	-webkit-transition: top 200ms ease-in-out 200ms, transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
	-moz-transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
	-o-transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
	transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
}

.icon-bar-middle {
	top: 29px;
	-webkit-transition: opacity 200ms ease-in-out, background-color 400ms ease-in-out;
	-moz-transition: opacity 200ms ease-in-out, background-color 400ms ease-in-out;
	-o-transition: opacity 200ms ease-in-out, background-color 400ms ease-in-out;
	transition: opacity 200ms ease-in-out, background-color 400ms ease-in-out;
}

.icon-bar-bottom {
	top: 35px;
	-webkit-transition: top 200ms ease-in-out 200ms, transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
	-moz-transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
	-o-transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
	transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
}

.nav-container {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: transparent;
	z-index: 1000;

	#navbar-toggle {
		position: absolute;
		top: -9999px;
		left: -9999px;

		&:checked {
			& ~ .nav-header > label[for="navbar-toggle"] {
				.icon-bar-top, .icon-bar-middle, .icon-bar-bottom {
					background-color: $light-gray;
				}

				.icon-bar-top {
					top: 29px;
					transform: rotate(45deg);
					-webkit-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
					-moz-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
					-o-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
					transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
				}

				.icon-bar-middle {
					opacity: 0;
				}

				.icon-bar-bottom {
					top: 29px;
					transform: rotate(-45deg);
					-webkit-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
					-moz-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
					-o-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
					transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
				}
			}

			& ~ .navbar {
				visibility: visible;
				opacity: 1;
				filter: alpha(opacity=100);
			}
		}

	}

	.navbar {
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: $navbar-color;
		padding: 100px 0 10px 0;
		opacity: 0;
		visibility: hidden;
		filter: alpha(opcaicy=0);
		-webkit-transition: 200ms ease-in-out;
    	-moz-transition: 200ms ease-in-out;
    	-o-transition: 200ms ease-in-out;
    	transition: 200ms ease-in-out;

    	.nav {
    		list-style: none;

    		& > li {
    			width: 100%;
    			text-align: center;

    			& > a {
    				color: $light-gray;
    				text-decoration: none;
    				line-height: 20px;
    				padding: 15px 15px;
    				display: block;
    			}
    		}
    	}
	}

	.nav-header {
		#navbar-logo {
			padding: 5px;
			width: 65px;
			display: inline-block;

			img {
				width: 100%;
			}

		}

		label[for="navbar-toggle"] {
			position: absolute;
			right: 0;
			cursor: pointer;
			width: 65px;
			height: 65px;
			padding: 21px 20px;
			z-index: 10;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
}