.post {
	margin: 20px 0 50px 0;
}

.post:first-of-type {
	margin-top: 0;
}

.post-date, .author-meta {
	color: darken($gray-lighter, 20%);
}

.post-title {
	@extend .headline;
	margin-top: 10px;

	a {
		color: $dark-gray;
	}
}

.post-template {
	.post-title {
		@extend .title;
		font-weight: 600;
	}

	.post-header {
		margin-bottom: 20px;
	}
}

.post-meta {
	margin: 10px 0;
}

.post-image {
	max-width: 100%;
	height: auto;
	margin: 0 auto 20px auto;
	display: block;
}

.tag {
	background-color: $red-orange;
	padding: 0.3rem 1rem;
	border: 1px solid $red-orange;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: $gray-lighter;
	vertical-align: middle;
	display: inline-block;
	margin: 0.3rem 0;

	&:hover {
		color: $gray-lighter;
		background-color: darken($red-orange, 10%);
	}
}

.post-footer {
	margin-top: 70px;
	text-align: center;

	.bio {
		color: $dark-gray;
	}

	.author-location, .author-link {
		font-style: italic;
	}
}

.author-image {

}