.post {
	margin: 20px 0 50px 0;
}

.post:first-of-type {
	margin-top: 0;
}

.post-date, .author-meta {
	color: darken($gray-lighter, 20%);
}

.post-title {
	@extend .headline;
	margin-top: 10px;

	a {
		color: $dark-gray;
	}
}

.post-template {
	.post-title {
		@extend .title;
		font-weight: 600;
	}

	.post-header {
		margin-bottom: 20px;
	}
}

.post-meta {
	margin: 10px 0;
}

.post-image {
	max-width: 100%;
	height: auto;
	margin: 0 auto 20px auto;
	display: block;
}

.tag {
	background-color: $red-orange;
	padding: 0.3em 1em;
	border: 1px solid $red-orange;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: $gray-lighter;
	vertical-align: middle;
	display: inline-block;
	margin: 0.3em 0;
	font-size: 1.125rem;

	&:hover {
		color: $gray-lighter;
		background-color: darken($red-orange, 10%);
	}
}
.author-image {
	width: 90px;
	height: 90px;
	border: 1px $aqua solid;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	padding: 5px;
	display: inline-block;

	@include tablet-up {
		width: 120px;
		height: 120px;
	}

	.img {
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		
		width: 100%;
		height: 100%;
	}
}

.post-footer {
	margin-top: 70px;
	text-align: center;
	border-top: 1px $gray-lighter solid;
	padding-top: 50px;
	position: relative;

	@include tablet-up {
		padding-top: 80px;
	}

	.bio {
		color: lighten($dark-gray, 20%);
	}

	.author-location, .author-link {
		font-style: italic;
	}

	.author-image {
		position: absolute;
	    top: -45px;
	    left: 50%;
	    margin-left: -45px;

	    @include tablet-up {
	    	top: -60px;
	    	margin-left: -60px;
	    }
	}
}

