$white: #fff;
$black: #000;

$background-color: #f0f3f5;
$side-bar-color: #eaeef2;

$dark-primary-color: #0D47A1;
$primary-color: #2196F3;
$light-primary-color: #BBDEFB;
$light-accent-color: #80D8FF;
$accent-color: #40C4FF;
$dark-accent-color: #0091EA;
$secondary-accent-color: #FF6E40;
$dark-secondary-accent-color: #DD2C00;
$light-secondary-accent-color: #FF9E80;

$primary-dark-text: rgba($black, 0.87);
$secondary-dark-text: rgba($black, 0.54);
$disabled-dark-text: rgba($black, 0.38);

$primary-light-text: rgba($white, 1);
$secondary-light-text: rgba($white, 0.7);
$disabled-light-text: rgba($white, 0.3);