$white: #fff;
$black: #000;

$dark-primary-color: #00838F;
$primary-color: #B2EBF2;
$light-primary-color: #E0F7FA;
$light-accent-color: #B2EBF2;
$accent-color: #00E5FF;
$dark-accent-color: #00B8D4;
$secondary-accent-color: #FF4081;
$dark-secondary-accent-color: #F50057;
$light-secondary-accent-color: #FF80AB;

$primary-dark-text: rgba($black, 0.87);
$secondary-dark-text: rgba($black, 0.54);
$disabled-dark-text: rgba($black, 0.38);

$primary-light-text: rgba($white, 1);
$secondary-light-text: rgba($white, 0.7);
$disabled-light-text: rgba($white, 0.3);