$white : #FFF;
$black : #000;
$light-gray: #F2F2F2;
$gray: #A4A4A4;
$dark-gray: rgb(31, 31, 31);

/* Font Colours */

$font-light-gray: rgba(26, 26, 26, 0.4);
$font-dark-gray: rgba(26,26,26,.7);
$font-black: rgba(26, 26, 26, 0.9);
$font-turquoise: #3d9991;
$font-light-turquoise: #67B4AE;
$font-red: #EC1559;
$font-blue: #90AEC6;

/*
#213240 black
#90AEC6 gray??
#10C8CD turquoise
#EC1559 red
#FAF93C yellow
 */