/* Aqua colortheme 

http://s3.amazonaws.com/colorcombos-images/users/1/color-schemes/color-scheme-285-main.png?v=20111020201003 

*/

 $turquoise : #129793;
 $dark-gray : #505050;
 $light-yellow: #FFF5C3;
 $aqua : #9BD7D5;
 $red-orange: #FF7260;

 $white: #fff;