/* 
------------------------------------------------------
Screen Size variables
------------------------------------------------------
*/

$screen-desktop-lg: 1200px;
$screen-desktop-md: 992px;
$screen-mobile-lg: 768px;
$screen-mobile-sm: 480px;
$screen-mobile-xsm: 320px;