/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic,300italic,600italic,700italic|Droid+Sans:400,700|Playfair+Display:400,400italic,700,700italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
-------------------------------------------------------------------------
                             END OF RESET
-------------------------------------------------------------------------
 */
/* 
------------------------------------------------------
Screen Size variables
------------------------------------------------------
*/
/* Font Colours */
/*
#213240 black
#90AEC6 gray??
#10C8CD turquoise
#EC1559 red
#FAF93C yellow
 */
html, body, .site-wrapper {
  height: 100%; }

body {
  background-color: #1f1f1f; }

/*
Phone sm:
	$fontbase = 16
	$line-height-base = 23

Tablets:
	$fontbase = 16
	$line-height-base = 27

Desktop:
	$fontbase = 18
	$line-height-base = 30
 */
html {
  font-size: 62.5%; }

body {
  color: rgba(26, 26, 26, 0.9);
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.438;
  /* $line-height-base/$fontbase */ }
  @media (min-width: 480px) and (max-width: 767px) {
    body {
      line-height: 1.687; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 1.8rem;
      line-height: 1.667; } }

.h1, h1, .h2, h2, .post-content h1, .post-header h1, .h3, .post-content h2, .h4, .post-content h3, .h5, .post-content h4, .h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400; }

.h1, h1 {
  font-size: 4.2rem; }
  @media (min-width: 768px) and (max-width: 991px) {
    .h1, h1 {
      font-size: 4.7rem; } }

.h2, h2, .post-content h1, .post-header h1 {
  font-size: 2.6rem; }
  @media (min-width: 768px) and (max-width: 991px) {
    .h2, h2, .post-content h1, .post-header h1 {
      font-size: 2.9rem; } }

.h3, .post-content h2 {
  font-size: 2.4rem; }
  @media (min-width: 768px) and (max-width: 991px) {
    .h3, .post-content h2 {
      font-size: 2.3rem; } }

.h4, .post-content h3, .h5, .post-content h4 {
  font-size: 2.0rem; }

.italic, .blockquote *, .post-content blockquote *, .post-content i, .post-content em, .post-content cite, .post-content dfn, .post-content var, .post-content address {
  font-style: italic; }

.bold, .table th, .post-content table th, .table .th, .post-content table .th, .post-content b, .post-content strong {
  font-weight: 700; }

.indent, .unordered-list *, .post-content ul *, .ordered-list *, .post-content ol * {
  margin: 0 0 0 3.5rem; }

.monospace, .post-content kbd, .post-content samp {
  font-family: monospace; }

.unordered-list, .post-content ul {
  list-style-type: disc; }

.ordered-list, .post-content ol {
  list-style: decimal; }

.small, .sub, .post-content sub, .sup, .post-content sup, footer.site-footer .copyright, footer.site-footer .poweredby {
  font-size: smaller; }

.sub, .post-content sub {
  vertical-align: sub; }

.sup, .post-content sup {
  vertical-align: super; }

.code-block, .post-content code {
  padding: 0.2rem 0.3rem;
  border: #A4A4A4 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #F2F2F2;
  font-family: monospace;
  color: #EC1559;
  vertical-align: middle;
  white-space: pre-wrap; }

.pre, .post-content pre {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border: #A4A4A4 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #F2F2F2;
  white-space: pre; }
  .pre *, .post-content pre * {
    color: inherit;
    border: none;
    background-color: transparent;
    padding: 0; }

.blockquote, .post-content blockquote {
  margin: 2rem 0;
  padding: 0.5rem 0 0.5rem 2rem;
  border-left: #F2F2F2 0.75rem solid; }
  .blockquote *, .post-content blockquote * {
    font-weight: 300; }

.link, a, .post-content a {
  text-decoration: none; }
  .link:hover, a:hover, .link:active, a:active, .link:focus, a:focus, .link:visited, a:visited {
    text-decoration: none; }

.hr, .post-content hr {
  width: 85%;
  margin: 3rem auto;
  border: 0 none;
  height: 1px;
  background-color: rgba(26, 26, 26, 0.7); }

.table, .post-content table {
  margin: 2rem 0;
  border: none; }
  .table th, .post-content table th, .table .th, .post-content table .th {
    border-bottom: rgba(26, 26, 26, 0.7) 1px solid;
    text-align: center; }
  .table th, .post-content table th, .table .th, .post-content table .th, .table td, .post-content table td, .table .td, .post-content table .td {
    padding: 1.0rem 0.5rem; }
  .table td, .post-content table td, .table .td, .post-content table .td {
    text-align: left; }

.tag {
  padding: 0.2rem 0.3rem;
  border: #A4A4A4 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #F2F2F2;
  font-family: monospace;
  vertical-align: middle;
  color: #3d9991; }
  .tag a {
    color: #3d9991;
    text-transform: uppercase; }

time {
  color: rgba(26, 26, 26, 0.4); }

a {
  color: rgba(26, 26, 26, 0.4); }

.post-content h1 {
  margin: 0 0 1rem 0; }
.post-content h2 {
  margin: 0 0 1rem 0; }
.post-content h3 {
  margin: 0 0 1rem 0; }
.post-content h4 {
  margin: 0 0 1rem 0; }
.post-content a {
  color: #3d9991; }
  .post-content a:hover {
    color: #67B4AE; }
.post-content kbd, .post-content samp {
  font-size: 1.2em; }
.post-content img {
  width: 100%; }
.post-content ul {
  margin: 0 0 1rem 0; }
.post-content ol {
  margin: 0 0 1rem 0; }

.post-header h1 {
  margin: 0 0 1rem 0; }

.icon-bar-top, .icon-bar-middle, .icon-bar-bottom {
  width: 25px;
  height: 3px;
  background-color: #000;
  position: absolute;
  transform: rotate(0deg); }

.icon-bar-top {
  top: 23px;
  -webkit-transition: top 200ms ease-in-out 200ms, transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
  -moz-transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
  -o-transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
  transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out; }

.icon-bar-middle {
  top: 29px;
  -webkit-transition: opacity 200ms ease-in-out, background-color 400ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out, background-color 400ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out, background-color 400ms ease-in-out;
  transition: opacity 200ms ease-in-out, background-color 400ms ease-in-out; }

.icon-bar-bottom {
  top: 35px;
  -webkit-transition: top 200ms ease-in-out 200ms, transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
  -moz-transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
  -o-transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out;
  transition: top 200ms ease-in-out 200ms,transform 200ms ease-in-out 0s, background-color 400ms ease-in-out; }

.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000; }
  .nav-container #navbar-toggle {
    position: absolute;
    top: -9999px;
    left: -9999px; }
    .nav-container #navbar-toggle:checked ~ .nav-header > label[for="navbar-toggle"] .icon-bar-top, .nav-container #navbar-toggle:checked ~ .nav-header > label[for="navbar-toggle"] .icon-bar-middle, .nav-container #navbar-toggle:checked ~ .nav-header > label[for="navbar-toggle"] .icon-bar-bottom {
      background-color: #F2F2F2; }
    .nav-container #navbar-toggle:checked ~ .nav-header > label[for="navbar-toggle"] .icon-bar-top {
      top: 29px;
      transform: rotate(45deg);
      -webkit-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
      -moz-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
      -o-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
      transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out; }
    .nav-container #navbar-toggle:checked ~ .nav-header > label[for="navbar-toggle"] .icon-bar-middle {
      opacity: 0; }
    .nav-container #navbar-toggle:checked ~ .nav-header > label[for="navbar-toggle"] .icon-bar-bottom {
      top: 29px;
      transform: rotate(-45deg);
      -webkit-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
      -moz-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
      -o-transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out;
      transition: transform 200ms ease-in-out 200ms, top 200ms ease-in-out 0s, background-color 400ms ease-in-out; }
    .nav-container #navbar-toggle:checked ~ .navbar {
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100); }
  .nav-container .navbar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(73, 71, 71, 0.9);
    padding: 100px 0 10px 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opcaicy=0);
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out; }
    .nav-container .navbar .nav {
      list-style: none; }
      .nav-container .navbar .nav > li {
        width: 100%;
        text-align: center; }
        .nav-container .navbar .nav > li > a {
          color: #F2F2F2;
          text-decoration: none;
          line-height: 20px;
          padding: 15px 15px;
          display: block; }
  .nav-container .nav-header #navbar-logo {
    padding: 5px;
    width: 65px;
    display: inline-block; }
    .nav-container .nav-header #navbar-logo img {
      width: 100%; }
  .nav-container .nav-header label[for="navbar-toggle"] {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 65px;
    height: 65px;
    padding: 21px 20px;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

footer.site-footer {
  padding: 10px 5%;
  color: #A4A4A4; }
  footer.site-footer .copyright, footer.site-footer .poweredby {
    text-align: center; }
    footer.site-footer .copyright a, footer.site-footer .poweredby a {
      color: #A4A4A4; }
      footer.site-footer .copyright a:hover, footer.site-footer .poweredby a:hover {
        color: #F2F2F2; }

.main-header {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% -25px; }
  @media (min-width: 480px) and (max-width: 767px) {
    .main-header {
      background-position: center -75px;
      height: 400px; } }
  .main-header.no-cover {
    background-image: url("/assets/images/default_blog_cover_phone.png"); }
    @media (min-width: 480px) and (max-width: 767px) {
      .main-header.no-cover {
        background-image: url("/assets/images/default_blog_cover_tablet.png"); } }
  .main-header .header-title {
    position: absolute;
    width: 100%;
    top: 150px;
    text-transform: uppercase;
    text-align: center; }
    @media (min-width: 480px) and (max-width: 767px) {
      .main-header .header-title {
        top: 190px; } }

.archive-template .main-header {
  height: 150px;
  background-position: 50% -100px; }
  @media (min-width: 480px) and (max-width: 767px) {
    .archive-template .main-header {
      background-position: 50% -200px; } }
  .archive-template .main-header .header-title {
    top: 70px; }
.archive-template main.content .pagination-top {
  display: block; }

main.content {
  background-color: #FFF;
  padding: 20px 5%; }
  @media (min-width: 480px) and (max-width: 767px) {
    main.content {
      padding: 20px 10%; } }
  main.content .pagination-top {
    display: none; }
  main.content .pagination {
    margin: 20px 0 0 0; }
    main.content .pagination a {
      color: #90AEC6; }
  main.content .post {
    margin: 80px 0 0 0; }
    main.content .post:last-of-type {
      margin-top: 80px;
      margin-bottom: 40px; }
    main.content .post:first-of-type {
      margin-top: 20px; }
  main.content .post-header {
    margin: 0 0 3rem 0; }
    main.content .post-header .post-title a {
      color: rgba(26, 26, 26, 0.9); }
      main.content .post-header .post-title a:hover, main.content .post-header .post-title a:active, main.content .post-header .post-title a:focus, main.content .post-header .post-title a:visited {
        color: rgba(26, 26, 26, 0.9);
        text-decoration: none; }
  main.content .post-image {
    width: 100%; }
  main.content .post-excerpt {
    color: rgba(26, 26, 26, 0.7);
    margin: 0 0 2rem 0; }
    main.content .post-excerpt p {
      margin: 20px 0; }
    main.content .post-excerpt a.read-more {
      color: #3d9991; }
      main.content .post-excerpt a.read-more:hover {
        color: #67B4AE; }

/*# sourceMappingURL=scenary_on_my_bike.css.map */
