.page-template-about {
	.card {
		padding: 20px 30px;
	}
	
	.administrator-name, .administrator-contact {
		height: 130px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	
	.administrator-contact {
		address {
			margin: 0;
			color: $secondary-dark-text;
		}
	}
	
	.administrator-name {
		
		h1 {
			letter-spacing: 0.087rem;
			font-family: 'Droid Sans';
			margin-top: 0;
			color: $primary-dark-text;
		}
		
		h2 {
			@extend h3;
			font-family: 'Droid Sans';
			letter-spacing: -0.087rem;
			margin: 0;
			color: $secondary-dark-text;
		}
	}
	
	.about-me {

		p {
			color: $secondary-dark-text;
		}
		
		ul.timeline {
			position: relative;
			list-style: none;
			padding: 20px 0;
			margin: 0;
			
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 50%;
				width: 3px;
				background-color: $gray-light;
			}
			
			li {
				@extend .clearfix;
				position: relative;
				margin-bottom: 25px;
				
				&:last-child {
					margin-bottom: 0;
				}
				
				.timeline-details {
					padding: 10px;
					background-color: $white;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					border: 1px solid $disabled-dark-text;
					position: relative;
					float: left;
					width: 80%;
					margin-top: 60px;
					@extend .box-shadow-1;
					font-size: 1.4rem;
					color: $secondary-dark-text;
					
					@include phone-lg-up {
						width: 42%;
						margin-top: 0;
					}
					
					@include desktop-sm-up {
						width: 45%;
					}
					
					&:before {
						position: absolute;
						content: '';
						border-style: solid;
						top: -10px;
						right: 40%;
						margin-right: -13px;
						border-color: transparent transparent $disabled-dark-text transparent;
						border-width: 0 10px 10px 10px;
						
						@include phone-lg-up {
							margin-right: 0;
							border-color: transparent transparent transparent $disabled-dark-text;
							border-width: 10px 0 10px 10px;
							right: -10px;
							top: 10px;
						}
						
					}
					
					&:after {
						position: absolute;
						content: '';
						border-style: solid;
						top: -9px;
						right: 40%;
						margin-right: -13px;
						border-color: transparent transparent $white transparent;
						border-width: 0 10px 10px 10px;
											
						@include phone-lg-up {
							margin-right: 0;
							border-color: transparent transparent transparent $white;
							border-width: 9px 0 9px 9px;
							right: -9px;
							top: 11px;
						}
					}
					
				}
				
				.timeline-badge {
					position: absolute;
					width: 40px;
					height: 40px;
					left: 50%;
					font-size: 2.0rem;
					line-height: 40px;
					transform: translate(-50%, 0);
					text-align: center;
					top: 0;
					-webkit-border-radius: 100%;
					-moz-border-radius: 100%;
					border-radius: 100%;
					background-color: $light-accent-color;
				}
				
				.timeline-label {
					position: absolute;
					left: 50%;
					transform: translate(30px, 0);
					top: 10px;
				}
				
				&.timeline-inverted {
					.timeline-details {
						float: right;
						
						&:before {
							right: auto;
							border-style: solid;
							left: 40%;
							margin-left: -13px;
							border-color: transparent transparent $disabled-dark-text transparent;
							border-width: 0 10px 10px 10px;
							
							@include phone-lg-up {
								margin-left: 0;
								left: -10px;
								border-color: transparent $disabled-dark-text transparent transparent;
								border-width: 10px 10px 10px 0;
							}
						}
						
						&:after {
							right: auto;
							border-style: solid;
							left: 40%;
							margin-left: -13px;
							border-color: transparent transparent $white transparent;
							border-width: 0 10px 10px 10px;
							
							@include phone-lg-up {
								margin-left: 0;
								left: -9px;
								border-color: transparent $white transparent transparent;
								border-width: 9px 9px 9px 0;
							}
						}
					}
					
					.timeline-label {
						left: auto;
						right: 50%;
						transform: translate(-30px, 0);
					}
				}
			}
		}
	}
	
	.skills {
		p {
			color: $secondary-dark-text;
		}
		
		.legend {
			@extend .clearfix;
			
			dl {
				float: right;
				padding: 10px;
				@extend .box-shadow-1;
				font-size: 1.2rem;
				margin: 0;
				color: $disabled-dark-text;

				dt:before {
					content: '*';
				}
				
				dd {
					margin-left: 10%;
				}
			}
		}
		
		.skill-bars {
			margin-top: 20px;
		}
	}
	
	.influencers {
		
		.influencer-chart-container {
			position: relative;
			
			.influencer-chart-holder {
				margin: 20px 0;
				width: 100%;
				
				@include phone-lg-only {
					width: 60%;
				}
			}
			
			.doughnut-legend {
				list-style: none;
				padding: 0;
				
				@include phone-lg-only {
					position: absolute;
					width: 35%;
					top: 0;
					right: 0;
				}
				
				li {
					position: relative;
					padding-left: 25px;
					span {
						position: absolute;
						top: 50%;
						left: 0;
						transform: translate(0, -50%);
						display: block;
						width: 15px;
						height: 15px;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
					}
				}
			}
		}
		
		
	}
}