html, body, .site-wrapper {
	height: 100%;
}

body {
	background-color:  $dark-gray;
	overflow-x: hidden;
}

.box-shadow {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.no-overflow {
	overflow: hidden;
}

.main-content-wrapper {
	background-color: $white;
	width: 100%;
	padding: 30px 0 50px 0;
}

.post-template {
	.main-content-wrapper {
		padding-top: 70px;

		@include desktop-sm-up {
			padding-top: 100px;
		}
	}

}

.content {
	margin: auto;
	max-width: 900px;
}

.pagination-top {
	display: none;
}

.pagination {
	text-align: center;
}

.button {
	$background-color: saturate($turquoise, 15%);

	background-color: $background-color;
	display: inline-block;
	padding: 0.5rem 2rem;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	color: $white;
	@extend .box-shadow;

	&:hover, &:active, &:focus, &:visited {
		color: $white;
	}

	&:hover {
		background-color: darken($background-color, 10%);
	}

	&:hover, &:active {

	}
}
