html, body, .site-wrapper {
	width: 100%;
}

body {
	overflow-x: hidden;
}

.no-overflow {
	overflow-y: hidden;
}

.site-wrapper {
	padding: 50px 0 0 0;

	@include desktop-sm-up {
		padding: 50px 0 0 250px;
	}
}

.row-gutter {
	margin-top: $grid-gutter-width;
}

.main-content {
	margin: 0 auto;
	max-width: 92%;
	width: 1440px;

	@include tablet-up {
		max-width: 97%;
	}

	@include desktop-md-up {
		max-width: 92.6%;
	}
}

.page-banner {
	@extend .clearfix;
	
	@include tablet-up {
		margin-bottom: 20px;
	}
	
	.page-banner-inner {
		float: right;
		text-align: right;
		background-color: $primary-color;
		padding: 0 4% 0 10%;
		position: relative;
		height: 120px;
		
		&:before {
			content: '';
			position: absolute;
			left: -55px;
			top: 0;
			border-style: solid;
			border-width: 0 0 120px 55px;
			border-color: transparent transparent $primary-color transparent;
		}
	}
	
	.page-title, .page-description {
		color: $primary-light-text;
	}
	
	.page-description {
		@extend .sub-headline;
		margin-top: 0;
		color: $disabled-light-text;
	}
}

.speech-bubble {
	position: relative;
    padding: 5% 10%;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid $disabled-dark-text;

    &:before {
    	content: "";
	    position: absolute;
	    bottom: -20px;
	    left: 50px;
	    border-width: 20px 0 0 20px;
	    border-style: solid;
	    border-color: $disabled-dark-text transparent;
	    display: block;
	    width: 0;
	    z-index: 10;
    }

    &:after {
    	content: "";
	    position: absolute;
	    bottom: -18px;
	    left: 50px;
	    border-width: 19px 0px 0 19px;
	    border-style: solid;
	    border-color: $white transparent;
	    display: block;
	    width: 0;
	    z-index: 11;
    }
}

.mask-modal {
	$menu-label-animation-duration: 300ms;

	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	visibility: hidden;
	opacity: 0;
	background-color: rgba($black, 0.5);
	width: 100%;
	height: 100%;

	-webkit-transition: opacity $menu-label-animation-duration ease-in-out;
	-moz-transition: opacity $menu-label-animation-duration ease-in-out;
	-o-transition: opacity $menu-label-animation-duration ease-in-out;
	transition: opacity $menu-label-animation-duration ease-in-out;

	&.active {
		visibility: visible;
		opacity: 1;
	}
}
