html, body, .site-wrapper {
	width: 100%;
}

body {
	overflow-x: hidden;
}

.no-overflow {
	overflow-y: hidden;
}

.site-wrapper {
	padding: 50px 0 0 0;

	@include desktop-sm-up {
		padding: 50px 0 0 250px;
	}
}

.box-shadow-1 {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.box-shadow-2 {
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.box-shadow-3 {
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box-shadow-4 {
	-webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card {
	background: $white;
	border-radius: 2px;
	display: block;
	position: relative;

	&.accent {
		border-top: 3px solid $secondary-accent-color;
	}

	&.hover-effect {
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;

		&:hover {
			@extend .box-shadow-2;
		}
	}
}

.card-1 {
	@extend .box-shadow-1;
}

.card-2 {
	@extend .box-shadow-2;
}

.card-3 {
	@extend .box-shadow-3;
}

.card-4 {
	@extend .box-shadow-4;
}

.speech-bubble {
	position: relative;
    padding: 5% 10%;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid $disabled-dark-text;

    &:before {
    	content: "";
	    position: absolute;
	    bottom: -20px;
	    left: 50px;
	    border-width: 20px 0 0 20px;
	    border-style: solid;
	    border-color: $disabled-dark-text transparent;
	    display: block;
	    width: 0;
	    z-index: 10;
    }

    &:after {
    	content: "";
	    position: absolute;
	    bottom: -18px;
	    left: 50px;
	    border-width: 19px 0px 0 19px;
	    border-style: solid;
	    border-color: $white transparent;
	    display: block;
	    width: 0;
	    z-index: 11;
    }
}

.mask-modal {
	$menu-label-animation-duration: 300ms;

	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	visibility: hidden;
	opacity: 0;
	background-color: rgba($black, 0.5);
	width: 100%;
	height: 100%;

	-webkit-transition: opacity $menu-label-animation-duration ease-in-out;
	-moz-transition: opacity $menu-label-animation-duration ease-in-out;
	-o-transition: opacity $menu-label-animation-duration ease-in-out;
	transition: opacity $menu-label-animation-duration ease-in-out;

	&.active {
		visibility: visible;
		opacity: 1;
	}
}
