.site-footer {
	padding: 10px 5%;
	color: $secondary-dark-text;

	.copyright, .poweredby {
		font-size: 1.3rem;
		text-align: center;

		a {
			color: $disabled-dark-text;
			text-decoration: underline;

			&:hover, &:focus {
				color: $primary-dark-text;
			}
		}
	}

}