.site-footer {
	padding: 10px 5%;
	color: $light-primary-color;
	background-color: $primary-color;

	.copyright, .poweredby {

		text-align: center;

		a {
			color: $light-primary-color;
			text-decoration: underline;

			&:hover, &:focus {
				color: $primary-light-text;
			}
		}
	}

}