#side-nav-toggle {
	@include desktop-sm-up {
		display: none;
	}
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: $primary-color;
	@extend .box-shadow-1;

	.sns-meta {
		margin-top: -4px;
	}
}

