$navbar-link-colour: darken($white, 10%);
$navbar-link-colour-on-hover: $white;

.site-header {
	.navbar {
		margin: 10px 0 0 0;
		padding: 0;
		list-style: none;

		@include desktop-sm-up {
			margin: 0;
			padding: 10px 0;
			float: right;
		}

		li {
			@include desktop-sm-up {
				display: inline-block;
			}
		}

		.nav-current a{
			color: $white;
			font-weight: bold;
		}

		.nav-home {
			a:before {
				font-family: "FontAwesome";
				content: "\f015 ";
			}
		}

		a {
			line-height: 20px;
			padding: 15px 15px;
			display: block;
			position: relative;
			color: $navbar-link-colour;
			letter-spacing: 0.05em;
			/*width (includes padding) = 170px for phones: 200 - 30*/
			/*width (includes padding) = 270px for tablets: 300 - 30*/

			@include desktop-sm-up {
				line-height: 25px;

				&:hover {
					color: $white;
				}
			}

			&:after {
				background: rgba(111, 148, 182, 0.3);
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				margin-left :-85px;
				width: 100%;
				height: 50px;
				opacity: 0;
				pointer-events: none;

				@include tablet-only {
					margin-left: -135px;
				}

				@include desktop-sm-up {
					display: none;
				}
			}

			&:focus {
				color: $navbar-link-colour-on-hover;
				&:after {
					animation: anim-effect-boris 0.2s forwards;
				}
			}
		}
	}
}

.site-cover {
	.navbar-container {
		text-align: center;
		opacity: 0;
		margin-top: -20px;
		
		-webkit-transition: opacity 1s ease-in-out, margin-top 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out, margin-top 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out, margin-top 1s ease-in-out;
		transition: opacity 1s ease-in-out, margin-top 1s ease-in-out;

		&.animate {
			opacity: 1;
			margin-top: 0;
		}

		.navbar {
			list-style: none;
			padding: 0;

			li {
				margin: 0 1rem;
				text-align: center;
				display: inline-block;
			}

			a {
				font-family: $droid-sans;
				text-transform: uppercase;
				border: 1px solid $white;
				color: $white;
				padding: 1rem 1.5rem;

				&:hover {
					color: $red-orange;
					border: 1px solid $red-orange;
				}
			}
		}
	}
}

@keyframes anim-effect-boris {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}