.paged {
	.pagination:first-of-type {
		display: block;
	}
}

.pagination {
	width: 100%;
	text-align: center;
	margin: 30px 0;

	&:first-of-type {
		display: none;
	}

	&.no-prev {
		.newer-posts {
			display: none;
		}
	}

	&.no-next {
		.older-posts {
			display: none;
		}
	}

	&.no-next.no-prev {
		.page-number:before,
		.page-number:after {
			display: none;
		}
	}

	@include tablet-up {
		&.no-prev {
			.newer-posts {
				display: inline-block;
				visibility: hidden;
			}

			.page-number:before {
				display: inline-block;
				visibility: hidden;
			}
		}

		&.no-next {
			.older-posts {
				display: inline-block;
				visibility: hidden;
			}

			.page-number:after {
				display: inline-block;
				visibility: hidden;
			}
		}

		&.no-next.no-prev {
			.newer-posts, 
			.older-posts,
			.page-number:before,
			.page-number:after {
				display: none;
			}
		}
	}
}

.page-number {
	position: relative;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	width: 80%;
	margin: auto;
	display: block;

	@include tablet-up {
		display: inline-block;
		width: 30%;
		margin: auto 10px;
	}

	span {
		background-color: $white;
		z-index: 1;
		padding: 0 10px;
		position: relative;
	}

	&:before, &:after {
		background-color: $gray-lighter;
		content: "";
		display: block;
		height: 1px;
		position: absolute;
		top: 50%;
		width: 50%;
	}

	&:before {
		left: 0;
	}

	&:after {
		left: 50%;
	}
}

.newer-posts {
	@include ribbon-left-arrow($secondary-light-text, $accent-color, 1.5rem);
}

.older-posts {
	@include ribbon-right-arrow($secondary-light-text, $accent-color, 1.5rem);
}