.home-template {
	.pagination:first-of-type {
		display: none;
	}
}

.pagination {
	width: 100%;
	text-align: center;
	margin: 30px 0;
}

.page-number {
	position: relative;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	width: 80%;
	margin: auto;

	span {
		background-color: $white;
		z-index: 1;
		padding: 0 5%;
		position: relative;
	}

	&:before {
		background-color: $gray-lighter;
		content: "";
		display: block;
		height: 1px;
		position: absolute;
		top: 50%;
		width: 100%;
		left: 0;
	}
}

.newer-posts {
	@include ribbon-left-arrow($secondary-light-text, $accent-color, 1.5rem);
}

.older-posts {
	@include ribbon-right-arrow($secondary-light-text, $accent-color, 1.5rem);
}