.post-index-banner {
	display: none;

	@include desktop-sm-up {
		display: block;
	}
}

.post-index {
	margin: 0 auto;
	max-width: 92%;
	width: 1440px;

	@include tablet-up {
		max-width: 97%;
	}

	@include desktop-md-up {
		max-width: 92.6%;
	}
}

.masonry-grid-item {
	float: left;
	width: 100%;
	margin-top: 25px;
	padding: 0;

	&:first-child {
		margin-top: 0;
	}

	@include tablet-up {
		width: 49.9%;
		margin: 0;
		padding: 0 2% 5% 2%;
	}

	@include desktop-md-up {
		width: 33.3%;
		margin: 0;
		padding: 0 1.5% 4.5% 1.5%;
	}
}

.home-template {
	.masonry-grid-item:first-of-type {
		margin-top: 50px;
	}
}

.post-header {
	border: none;
	border-bottom: 1px solid $disabled-dark-text;
	padding: 20px 5%;
}

.post-date {
	color: $disabled-dark-text;
	font-size: 1.3rem;
	margin-bottom: 5px;
	display: block;
}

.post-title {
	@extend .headline;
	margin: 0;

	a {
		color: $primary-dark-text;
		-webkit-transition: color 0.2s ease-in-out;
		-moz-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;

		&:hover, &:focus {
			color: $dark-accent-color;
		}
	}
}

.post-media {
	a {
		overflow: hidden;
		display: block;

		&:hover, &:focus {
			img {
				opacity: 0.8;
				-webkit-transform: scale(1.1);
    			-moz-transform: scale(1.1);
    			-o-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}

	img {
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		display: block;
		opacity: 1;
		width: 100%;
		height: auto;
	}
}

.post-excerpt {
	padding: 30px 5%;

	p {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.post-meta {
	padding: 0 5% 15px 5%;
	color: $secondary-dark-text;

	&:before {
		content: '';
		display: block;
		width: 95%;
		margin: 0 auto 15px auto;
		height: 1px;
		background-color: $disabled-dark-text;
	}

	span {
		margin-right: 2%;
	}
}

.post-image {
	max-width: 100%;
	height: auto;
	margin: 0 auto 20px auto;
	display: block;
}

.author-image {
	width: 90px;
	height: 90px;
	border: 1px $light-accent-color solid;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	padding: 5px;
	display: inline-block;

	@include tablet-up {
		width: 120px;
		height: 120px;
	}

	.img {
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		
		width: 100%;
		height: 100%;
	}
}

.post-footer {
	margin-top: 70px;
	text-align: center;
	border-top: 1px $gray-lighter solid;
	padding-top: 50px;
	position: relative;

	@include tablet-up {
		padding-top: 80px;
	}

	.bio {
		color: lighten($secondary-dark-text, 20%);
	}

	.author-location, .author-link {
		font-style: italic;
	}

	.author-image {
		position: absolute;
	    top: -45px;
	    left: 50%;
	    margin-left: -45px;

	    @include tablet-up {
	    	top: -60px;
	    	margin-left: -60px;
	    }
	}
}
