.side-nav {
	$side-nav-width: 250px;
	$menu-label-animation-duration: 300ms;

	font-family: $droid-sans;
	position: fixed;
	width: $side-nav-width;
	top: 0;
	left: -$side-nav-width;
	height: 100%;
	background-color: $white;
	z-index: 100;
	opacity: 0;
	padding-top: 30px;
	@extend .box-shadow-2;
	
	-webkit-transition: left $menu-label-animation-duration ease-in-out, opacity $menu-label-animation-duration ease-in-out;
	-moz-transition: left $menu-label-animation-duration ease-in-out, opacity $menu-label-animation-duration ease-in-out;
	-o-transition: left $menu-label-animation-duration ease-in-out, opacity $menu-label-animation-duration ease-in-out;
	transition: left $menu-label-animation-duration ease-in-out, opacity $menu-label-animation-duration ease-in-out;

	@include desktop-sm-up {
		left: 0;
		opacity: 1;
		box-shadow: none;
		padding-top: 70px;
		border-right: 2px solid $gray-lighter;
	}

	&.active {
		left: 0;
		opacity: 1;
	}
}

.side-nav-header {
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.logo {
		color: $primary-dark-text;
		display: block;
		position: relative;
		margin: 31px auto 14px auto;
		text-align: left;

		&:hover, &:focus {
			text-decoration: none;
		}
		
		.name {
			position: relative;
			z-index: 1;
			text-transform: uppercase;
			margin-left: 3.2rem;
			letter-spacing: 0.14rem;
			line-height: 1em;
			font-size: 2.5rem;
		}
		
		.job-title {
			margin-left: 6.3rem;
			position: relative;
			z-index: 1;
			font-size: 1.4rem;
			line-height: 1em;
		}
		
		img {
			position: absolute;
			opacity: 0.9;
			transform: translate(0, -50%);
			left: 0;
			top: 10%;
			margin: 7px 0 0 -8px;
			display: block;
			width: 80px;
			height: auto;
		}
	}
	
	.quote-of-the-day {
		color: $disabled-dark-text;
		font-size: 1.3rem;
		margin: 20px 0 20px 61px;
		padding-left: 11px;
		
		@include desktop-md-up {
			font-size: 1.5rem;
		}
	}
}

.site-nav-footer {
	background-color: $white;
	text-align: center;
	margin-top: 20px;
	
	.sns-link {
		color: $disabled-dark-text;

		&:hover, &:focus {
			color: $primary-dark-text;
		}
	}
}


