

body {
	@include phone-lg-only {
		font-size: 15px;
		line-height: 1.6;
	}

	@include tablet-up {
		font-size: 17px;
		line-height: 1.647;
	}
}

.title { 
	font-size: 37px;

	@include phone-lg-only {
		font-size: 39px;
	} 

	@include tablet-up {
		font-size: 45px;
	}
}

.headline { 
	font-size: 23px;

	@include phone-lg-only {
		font-size: 24px;
	} 

	@include tablet-up {
		font-size: 28px;
	}
}

.sub-headline { 
	font-size: 18px;

	@include phone-lg-only {
		font-size: 19px;
	} 

	@include tablet-up {
		font-size: 22px;
	}
}

.post-content {
	img, video, iframe {
		width: 100%;
		height: auto;
	}
}

